<html>

<head>
    <meta name="viewport" content="width=device-width">
</head>

<body style="background-color: black;">
    <h1 style="text-align: center; color: white; padding-top: 20vh;"><%= locals.name%></h1>
    <h2 style="text-align: center; color: white;"><%= locals.songName %></h2>
    <h3 style="text-align: center; color: white;">(<%= locals.songID %>)</h3>
    <div style="display: grid; place-items: center; margin-top: 150px;">
        <video controls="" autoplay="" name="media">
            <source
                src="<%= locals.audio %>"
                type="audio/mpeg">
        </video>
    </div>
</body>

</html>